<%- include('../partials/html-head') %>
  <%- include('../partials/nav') %>
    <main>
      <h1>Anime Details</h1>
      <h2>
        <%= anime.title%>
      </h2>
      <img src="<%= anime.imageUrl%>" alt='<%= anime.name %> '>
      <p>
        <%= anime.synopsis %>
      </p>
      <h2>
        <%= anime.type %>
      </h2>
      <h2>
        <%= anime.episodes %>
      </h2>
      <h2>
        <%= anime.score %>
      </h2>
    </main>
    <%- include('../partials/footer') %>