<%- include('../partials/html-head') %>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="/stylesheets/profiles/animeIdx.css" />
  <%- include('../partials/nav') %>
    <h1 class="neonText">My Anime List</h1>
    <div class="cards">

  
    <% profile.anime.forEach(anime=> { %>
      <article class="card">
        <header>
          <h2>
            <%= anime.title %>
          </h2>
        </header>
        <a href="/profiles/<%= profile._id %>/anime/<%= anime._id %>">
          <img src="<%= anime.imageUrl %>" alt="<%= anime.name %>">
        </a>
        <div class="content">
      <% if (user.profile._id.equals(profile._id)) { %>
        <form action="/profiles/<%= profile._id %>/anime/<%= anime._id %>?_method=DELETE" method="POST">
          <button class="btn" type="submit">Delete this Anime💀</button>
        </form>
        <% } %>
          </div>
          </article>
      <% }) %> 
  </div>

    

        <%- include('../partials/footer') %>