<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/profiles/animeShow.css">

  <%- include('../partials/nav') %>
    <main>
      <h1 class="neonText" >Anime Details</h1>
      <h2>
        <%= anime.title%>
      </h2>
      <img src="<%= anime.imageUrl%>" alt='<%= anime.name %> '>
      <h2> Synopsis:<br>
        <%= anime.synopsis %>
      </h2>
      <h2>Type:<br>
        <%= anime.type %>
      </h2>
      <h2> Episodes:<br>
        <%= anime.episodes %>
      </h2>
      <h2> Score <br>
        <%= anime.score %>
      </h2>
      <% if (user) { %>
        <form class="revirew-form" action="/profiles/<%= profile._id %>/anime/<%= anime._id %>/reviews" method="POST">
          <h2 id="logo">Reviews</h2>
          <label class="review" for="content-textarea">Review:</label>
              <textarea name="content" id="content-textarea"></textarea>
              <label class="ratings" for="rating-select">Rating:</label>
              <select name="rating" id="rating-select">
                <option disabled selected value> -- select an option -- </option>
                <option value="⭐">⭐</option>
                <option value="⭐⭐">⭐⭐</option>
                <option value="⭐⭐⭐">⭐⭐⭐</option>
                <option value="⭐⭐⭐⭐">⭐⭐⭐⭐</option>
                <option value="⭐⭐⭐⭐⭐">⭐⭐⭐⭐⭐</option>
              </select>
              <button class="review-btn" type="submit">Add Review</button>
            </form>
              <% } %>
              <% if (anime.reviews.length) { %>
                  <h2>
                  <%= user? "You have" : `${profile.name} has`%> reviews! Here they are!
                </h2> 
                <table>
                  <thead>
                    <tr>
                      <th>Date</th>
                      <th>Review</th>
                      <th>Rating</th>
                      <th>Author</th>
                      <th>Delete</th>
                    </tr>
                  </thead>
                  <tbody>
                      <% anime.reviews.forEach(function(review){ %>
                          <tr>
                            <td>
                              <%= review.createdAt.toLocaleDateString() %>
                            </td>
                            <td>
                              <%= review.content %>
                            </td>
                            <td>
                              <%= review.rating %>
                            </td>
                            <td>
                              <img src="<%= review.author.avatar%>" alt="<%= review.author.avatar%>">
                              </td>
                            <td>
                              <% if (user.profile._id.equals(profile._id)) { %>
                                <form action="/profiles/<%= profile._id %>/anime/<%= anime._id %>/reviews/<%= review._id %>?_method=DELETE" method="POST">
                                  <button class="btn-delete" type="submit">Delete 💀</button>
                                </form>
                                <% } %>
                            </td>
                          </tr>
                      <% }) %>
                  </tbody>
                </table>
                <% } else { %>
                  <h3>No Reviews Yet</h3>
                  <% } %>
    </main>
    <%- include('../partials/footer') %>