<%- include('../partials/html-head') %>

<link rel="stylesheet" href="/stylesheets/profiles/show.css">
  <%- include('../partials/nav') %>

    <main>
      <% if (profile.avatar) { %>
        <% } %>
        <h1 class="neonText">It's <%= isSelf ? "you" : profile.name %>!</h1>
        <% profile.anime.forEach(an => {%>
          <div>
              <h2>
                <%= an.title %>
              </h2>
              <img src="<%= an.imageUrl %>" alt="<%= an.name %>">
            </a>
            <% if (an.reviews.length) { %>
              <h2>
                <%= user? "You have" : `${profile.name} has`%> reviews! Here they are!
              </h2>
              <table>
                <thead>
                  <tr>
                    <th>Date</th>
                    <th>Review</th>
                    <th>Rating</th>
                    <th>Author</th>
                  </tr>
                </thead>
                <tbody>
                  <% an.reviews.forEach(function(review){ %>
            
                    <tr>
                      <td>
                        <%= review.createdAt.toLocaleDateString() %>
                      </td>
                      <td>
                        <%= review.content %>
                      </td>
                      <td>
                        <%= review.rating %>
                      </td>
                      <td>
                        <img src="<%= review.author.avatar%>" alt="<%= review.author.avatar%>">
                      </td>
                    </tr>
                    <% }) %>
                </tbody>
              </table>
              <% } else { %>
                <h3>No Reviews Yet</h3>
                <% } %>
          </div>
              <% }) %>

    </main>

    <%- include('../partials/footer') %>