<%- include('../partials/html-head') %>
  <%- include('../partials/nav') %>
  <% if (results) {%> 
    <main>
        <h1>Search Results</h1>
          <%results.forEach(anime => {%>
            <h2><%= anime.title%></h2>
            <img src="<%= anime.image_url%>">
            <a href="/animes/<%= anime.mal_id %> ">info</a>
          <% }) %>
        <% } %>
    </main>
    
    <%- include('../partials/footer') %>